# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments / Conda
.venv/
venv/
env/
.env

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Raw and generated datasets
data/raw/*
data/processed/*

# Trained model files
models/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep